<div class="ui text container">
    <h3 class="ui header">HISTORIC PRICE</h3>
    <div class="ui two column stackable grid container">
      <div 
        *ngFor="let key of rates | myKeys"
        class="center aligned column">
          <div class="ui statistic small">
              <div class="value">
                <i class="plane icon"></i> {{rates[key]}}
              </div>
              <div class="label">
                {{key}}
              </div>
            </div>
      </div>
    </div>
  </div>