<div class="ui container">
    <div class="ui stackable centered equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui header">About</h4>
        <div class="ui link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Company</a>
          <a href="#" class="item">Vision and Mision</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Services</h4>
        <div class="ui link list">
          <a href="#" class="item">FAQ</a>
          <a href="#" class="item">How To Use</a>
          <a href="#" class="item">Favorite Currencies</a>
        </div>
      </div>
      <div class="three wide column">
          <h4 class="ui header">Resources</h4>
          <div class="ui link list">
            <a href="#" class="item">Guides</a>
            <a href="#" class="item">Resources</a>
            <a href="#" class="item">Agencies</a>
          </div>
        </div>
      <div class="four wide column">
        <h4 class="ui header">Social links</h4>
        
        <div>
            <a href="#"><i class="big twitter icon"></i></a>
            <a href="#"><i class="big facebook icon"></i></a>
            <a href="#"><i class="big instagram icon"></i></a>
            <a href="#"><i class="big tumblr icon"></i></a>
        </div>
      </div>
    </div>
  </div>